@tailwind base;
@tailwind components;
@tailwind utilities;
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: gray;
    font-size: 15px;
  }
  